*{
    padding-top: 0%;
    margin-top: 0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    }
    .hero{
        max-height: 100vh;
        width: 100%;
    }
    body{
        background-image: url(jiji.jpeg);
        background-size: contain;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 45px;
        padding-left: 8%;
        padding-left: 8%;
    }
    .logo{
        color: aqua;
        font-size: 35px;
        letter-spacing: 1px;
        cursor: pointer;
    }
    span{
        color: #fdeff4;
    }
    nav ul li{
        list-style-type: georgian;
        display: inline-block;
        padding: 10px 25px;
    
    }
    nav ul li a{
        color: rgb(20, 49, 216);
        text-decoration: none;
        font-weight: bold;
        text-transform: capitalize;
    }
    nav ul li a:hover{
        color: #f9004d;
        transition: .4s;
    }
    .btn{
        background-color: #f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 10px 25px;
        border-radius: 30px;
        transition: trasform .4s;
    }.btn:hover{
        transform: scale(1.2);
    }
    .content{
        position: absolute;
        top: 50%;
        left: 8%;
        transform: translateY(-50%);
    }
    h1{
        color: rgb(133, 220, 231);
        margin: 20px 0px 20px;
        font-size: 75px;
    }
    h3{
        color: aqua;
        font-size: 25px;
        margin-bottom: 50px;
    }
    h4{
        color: aqua;
        letter-spacing: 2px;
        font-size: 20px;
        font-weight: bolder;
    }
    .newsletter form{
        width:380px;
        max-width: 100%;
        position: relative;
    }
    .newsletter form input:first-child{
        display: inline-block;
        width: 100%;
        padding: 14px 130px 14px 15px;
        border: 2px solid #f9004d;
        outline: none;
        border-radius: 30px;
    }
    .newsletter form input:last-child{
        position: absolute;
        display: inline-block;
        outline: none;
        border: none;
        padding: 10px 30px;
        border-radius: 30px;
        background-color: #f9004d;
        color: white;
        box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
        top: 6px;
        right: 6px;
    }
    .about-text{
        width: 550px;
    }
    .main{
        width: 1130px;
        max-width: 95%;
        margin: o auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .about-text h2{
        color: rgb(131, 228, 235);
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .about-text h5{
        color:aqua;
        letter-spacing: 2px;
        font-size: 22px;
        text-transform: capitalize;
    }
    .about-text p{
        color: rgb(255, 250, 250);
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 28px;
        margin-bottom: 45px;
        font-weight: bolder;
        margin-left: 0%;
        align-items: flex-start;
    }
    button{
         background-color: #f9004d;
         color: white;
         text-decoration: none;
         border: 2px solid transparent;
         font-weight: bold;
         padding: 13px 30px;
         border-radius: 30px;
         transition: 4s;
    }
    button:hover{
        background-color: transparent;
        border: 2px solid
    }
    #suit{
        margin-left: 60%; 
        margin-right: 30%;
        margin-top: -600px;
        margin-bottom: 100px;
        height: auto;
        width: 700px;
    }
    .back {
        background-color: #fff;
    }
    .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: left;
        text-decoration: none;
    }
    .fa-facebook {
        background: blue;
        color: red;
    }
    div img{
        width: 40px;
        height: 30px;
    }
    .bdo .container{
        margin-left: 4%;
        align-items: flex-end;
        padding-left: 9%;

    }
    .bdo .container{
        margin: 300px;
        padding: 120;
        /*background-size: contain;*/
        background-position: center;
        font-family: 'Times New Roman', Times, serif;
        
        }
        .bdo .container.loginbox{
        width: 320px;
        height: 420px;
        background: rgb(78, 154, 204);
        color: #fff;
        top: 600%;
        left: 1000;
        transform: translate(50%,50%);
        box-sizing: border-box;
        padding: 70px 30px;
        }
        .avatar{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: calc(50-50px);
        }
        h3{
        margin: 0%;
        padding: 0 0 20px;
        text-align: left;
        font-size: 22px;
        }
        .bdo .container .loginbox p{ 
        margin: 0;
        padding: 0;
        font-weight: bold;
        }
        .loginbox input{
        width: 100;
        margin-bottom: 20px;
        }
        .loginbox input[type="text"], input[type="password"]
        {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        font-size: 16px;
        }
        .loginbox input[type="submit"]
        {
        border: none;
        outline: none;
        height: 40px;
        background: #fb2525;
        color: #fff;
        font-size: 18px;
        border-radius: 20px;
        }
        .loginbox a{
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: darkgreen;

        }
        .loginbox a:hover
        {
            color: #ffc107;
        }
        .about-text h5{
            color: aqua;
        }
        .about-text h2{
            color: rgb(231, 76, 109);
        }
        .content h3 {
            list-style: lower-roman;
        }
        .wraper{
            margin:  10px auto;
            margin: 0 10%;
            padding-bottom: 10px;
            text-transform: capitalize;
        }
        .container{
            display: grid;
            gap: 15px;
            grid-template-columns: auto-fit, minmax(270px, 1fr);
        }
        .box{
            align-items: center;
            padding-bottom: 8%;
            margin-left: 50%;
        }
        .bdo .container{
            background-color: aqua;
        }
        .damn{
            padding-inline-start: 0%;
            padding-top: -120%;
            height: -12px;
            width: -6px;
        }
        .damn .how{
            padding-bottom: -120%;
            height: -12px;
            width: -6px;
        }